<h6><a href="{{@blog.url}}/about">About</a></h6>

<br>

<a class="twitter-timeline" href="https://twitter.com/shinestrength" data-widget-id="533780820847120384">Tweets by @shinestrength</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
