<h6><a href="{{@blog.url}}/About">About</a></h6>
<h6><a href="{{@blog.url}}/tag/digital-painting/">Painting</a></h6>
<h6><a href="{{@blog.url}}/Games">Games</a></h6>
<h6><a href="{{@blog.url}}/tag/music/">Music</a></h6>
