<h6><a href="{{@blog.url}}/About">About</a></h6>
<h6><a href="{{@blog.url}}/tag/digital-painting/">Digital Painting</a></h6>
<h6><a href="{{@blog.url}}/tag/game-development/">GameDev</a></h6>
<h6><a href="{{@blog.url}}/tag/music/">Music</a></h6>
<br>
